*{
    box-sizing: border-box;
}
body {
    background: #161416;
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
    margin: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow:hidden;
}

h1 {
    display:flex; 
    align-items: center;
    justify-content: center;
    color: yellowgreen;
    font-size: 45px;
    opacity: 0;
    transform: translateY(-30px);
    animation: apparition 0.75s 2.3S ease-out forwards ; /*forwards pour garder les valeurs de fin, sinon la boucle continued */
    
}
.panels {
    display: inline-block;
    opacity: 0;
    transform: translateX(800px); /* translate X pour apparition horisontale*/
    animation: apparition 0.70s 2.0s ease-out forwards ;
}
.Cardscontainer{
    display:flex;
    width:90vw;
}
  
.Card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:80vh;
    border-radius: 60px;
    flex:0.5;
    position:relative;
    transition: flex 0.7s ease-in-out;
    color:#fff;
    cursor:pointer;
    margin:10px;
    filter:  grayscale(0.9);
}


.info {
position: absolute;
bottom: 30px;
left: 30px;
color: aliceblue;
opacity: 0;
display: flex;
flex-direction: column;
gap: 10px;
}
.main{
    font-weight:800 ;
    font-size: larger;
}


.Card.active{
    flex: 5;
    transform:scale(0.96);
    filter:  none;
}
.Card.active .info{
 opacity: 1;
 transition: opacity 0.5s ease-in-out ;
}
button{
    background-color: #161416;
    color: aliceblue;
    border : 2px solid aliceblue;
    border-radius: 5px;
    text-transform: uppercase;
    min-height: 35px;
    min-width: 160px;
    cursor: pointer;  
    transition: color 0.55s linear; 
    transform: translateY(+60px);
    animation: apparition 0.75s 2.2s ease-out forwards ; /*forwards pour garder les valeurs de fin, sinon la boucle continued */
}
button:hover{
     color: yellowgreen;
     border : 2px solid yellowgreen;
   
}
button:before{
    content:"";
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    
   
}
.Button::before{
    transform: scaleX(0px);
}
.Button:hover::before{
    transform: scaleX(1);
}
@media (max-width: 780px) {
    .Cardscontainer{
        width:100vw;
    }
    .Card:nth-of-type(5), .Card:nth-of-type(6){ 
        display: none;
    }
}


@keyframes apparition {
    100%{
    opacity: 1;
    transform : none;}
}